/* Make carrousel image fully responsive */
.carousel-inner img {
    width: 70%;
    max-height: 500px;
}

/* Navbar */
#navb{
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

/* Footer */
footer{
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}
 
a, p, h1, h5, .footer-copyright{
      color: white;
  }

hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}

/* Contact form*/

.forminfo{
    text-align: justify;
    width: 100%;
    height: 350px;
    border: 1px solid white;
    margin-top: 100px;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    font-family: sans-serif;
    transition: all 4s ease-in-out; /* Zoom-out effect */
}
    
.forminfo input{
    margin-top: 4px;
    width: 96%;
    height: 30px;
}

.forminfo textarea{
    margin-top: 4px; 
    width: 96%;
    height: 120px;
}
    
.forminfo p{
    margin-top: 4px;
    text-align: center;
    color: white;
}

/* This centralize the map as well */
.formInvite, .map{
    text-align: center;
    margin-top: 50px;
}

/* This is the about page*/

.text{
    max-width: 80%;
    height: 450px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: black;
    padding: 50px;
    text-align: center;
}

.photo{
    width: 100%;
    height: 450px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    background-color: coral;
}

.aboutP{
    line-height: 1.5;
    text-align: justify;
}

/* This is the company page*/

.mission-box{
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 10%;
}

h4{
    font-size: 20px;
    text-align: justify;
}


/* This is the pictures inside company page */

.value-pictures{
    padding: 15px 15px;
    margin-top: 5px;
    text-align: center;
}

.row-value{
    margin-bottom: 50px;
}

.h2-value{
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Animates text content */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

*,
:before,
:after {
    box-sizing: border-box;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

.h6-animated {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
}

.h6-animated:hover {
    animation-play-state: paused;
}


@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
        0 0 0 #0c2ffb, 
        0 0 0 #2cfcfd, 
        0 0 0 #fb203b, 
        0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
        0 0 0 #0c2ffb, 
        0 0 0 #2cfcfd, 
        0 0 0 #fb203b, 
        0 0 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
